<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.vdm.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="za.vdm.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="za.vdm.main.SecondActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name="za.vdm.receivers.normal.NormalReceiver1" >
            <intent-filter>
                <action android:name="za.vdm.main.LOCAL_BROADCAST" />
            </intent-filter>
             <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- not exported as it has no intent filters, can only be referenced in Application explicitly -->
        </receiver>
        <receiver android:name="za.vdm.receivers.normal.NormalReceiver2" >
            <intent-filter>
                <action android:name="za.vdm.main.LOCAL_BROADCAST" />
            </intent-filter>
            <!-- not exported as it has no intent filters, can only be referenced in Application explicitly -->
        </receiver>
        <receiver android:name="za.vdm.receivers.system.BatteryLevelReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="za.vdm.receivers.system.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>